// SPDX-License-Identifier: GPL-2.0-only

/dts-v1/;

#include "msm8916-pm8916.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/leds/common.h>

/ {
 	model = "Huawei Mediapad T1-A21W"; 
 	compatible = "huawei,hwt1a21w", "qcom,msm8916"; 
	chassis-type = "tablet"; 

	aliases {
		mmc0 = &sdhc_1;
		mmc1 = &sdhc_2;
		serial0 = &blsp_uart2;
	};

	chosen {
		stdout-path = "serial0";
	};
	gpio-keys {
		compatible = "gpio-keys";

		pinctrl-names = "default";
		pinctrl-0 = <&gpio_keys_default>;

		label = "GPIO Buttons";

		button-volume-up {
			label = "Volume Up";
			gpios = <&tlmm 107 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEUP>;
		};
	};
	leds {
		compatible = "gpio-leds";

		pinctrl-names = "default";
		pinctrl-0 = <&gpio_leds_default>;

		led-0 {
			gpios = <&tlmm 8 GPIO_ACTIVE_HIGH>;
			color = <LED_COLOR_ID_RED>;
			default-state = "off";
			function = LED_FUNCTION_INDICATOR;
		};

		led-1 {
			gpios = <&tlmm 9 GPIO_ACTIVE_HIGH>;
			color = <LED_COLOR_ID_GREEN>;
			default-state = "off";
			function = LED_FUNCTION_INDICATOR;
		};

		led-2 {
			gpios = <&tlmm 10 GPIO_ACTIVE_HIGH>;
			color = <LED_COLOR_ID_BLUE>;
			default-state = "off";
			function = LED_FUNCTION_INDICATOR;
		};
	};

	usb_id: usb-id {
		compatible = "linux,extcon-usb-gpio";
		id-gpios = <&tlmm 110 GPIO_ACTIVE_HIGH>;
		pinctrl-0 = <&usb_id_default>;
		pinctrl-names = "default";
	};
};
&blsp_i2c2 {
	status = "okay";

	

	accelerometer@1e {
		compatible = "kionix,kx023-1025";
		reg = <0x1e>;

		interrupt-parent = <&tlmm>;
		interrupts = <115 IRQ_TYPE_EDGE_RISING>;

		vdd-supply = <&pm8916_l17>;
		vddio-supply = <&pm8916_l6>;

		pinctrl-names = "default";
		pinctrl-0 = <&accel_irq_default>;

		mount-matrix = "-1", "0", "0",
				"0", "1", "0",
				"0", "0", "1";
	};

	proximity@39 {
		compatible = "avago,apds9930";
		reg = <0x39>;

		interrupt-parent = <&tlmm>;
		interrupts = <113 IRQ_TYPE_EDGE_FALLING>;

		vdd-supply = <&pm8916_l17>;
		vddio-supply = <&pm8916_l6>;

		led-max-microamp = <100000>;
		amstaos,proximity-diodes = <1>;

		pinctrl-names = "default";
		pinctrl-0 = <&prox_irq_default>;
	};

	
};
&blsp_i2c5 {
	status = "okay";

	touchscreen@24 {
		compatible = "cypress,tt21000";

		reg = <0x24>;
		interrupt-parent = <&tlmm>;
		interrupts = <13 IRQ_TYPE_EDGE_FALLING>;

		reset-gpios = <&tlmm 12 GPIO_ACTIVE_LOW>;

		/*
		 * NOTE: vdd is not directly supplied by pm8916_l16, it seems to be a
		 * fixed regulator that is automatically enabled by pm8916_l16.
		 */
		vdd-supply = <&pm8916_l16>;
		vddio-supply = <&pm8916_l16>;

		pinctrl-0 = <&touchscreen_default>;
		pinctrl-names = "default";
	};
};

&blsp_uart2 {
	status = "okay";
};
&gpu {
	status = "okay";
};
&mdss {
	status = "okay";
};
&mdss_dsi0 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&mdss_active>;
	pinctrl-1 = <&mdss_suspend>;

	panel@0 {
		compatible = "huawei,hwt1a21w-panel";
		reg = <0>;

		vdd-supply = <&pm8916_l17>;
		vddio-supply=<&pm8916_l15>;
		reset-gpios = <&tlmm 25 GPIO_ACTIVE_LOW>;
		vcc-gpios = <&tlmm 97 GPIO_ACTIVE_LOW>;
		vled-gpios = <&tlmm 32 GPIO_ACTIVE_LOW>;
		port {
			panel_in: endpoint {
				remote-endpoint = <&mdss_dsi0_out>;
			};
		};
	};
};
&mdss_dsi0_out {
	data-lanes = <0 1 2 3>;
	remote-endpoint = <&panel_in>;
};
&mdss_dsi0_phy {
	qcom,dsi-phy-regulator-ldo-mode;
};
&sdhc_1 {
	status = "okay";
};
&sdhc_2 {
	status = "okay";

	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&sdc2_default &sdc2_cd_default>;
	pinctrl-1 = <&sdc2_sleep &sdc2_cd_default>;
	cd-gpios = <&tlmm 38 GPIO_ACTIVE_LOW>;
};
&usb {
	status = "okay";
	extcon = <&usb_id>, <&usb_id>;
};
&usb_hs_phy {
	extcon = <&usb_id>;
};
&pm8916_rpm_regulators {
	pm8916_l15: l15 {
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	pm8916_l16: l16 {
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};
	pm8916_l17: l17 {
		regulator-min-microvolt = <2850000>;
		regulator-max-microvolt = <2850000>;
	};
};
&pm8916_vib {
	status = "okay";
};
&venus {
	status = "okay";
};

&venus_mem {
	status = "okay";
};
&wcnss {
	status = "okay";
};

&wcnss_iris {
	compatible = "qcom,wcn3660b";
};

&wcnss_mem {
	status = "okay";
};

// make sure gcc is probed with display disabled.
&tlmm {
	accel_irq_default: accel-irq-default-state {
		pins = "gpio115";
		function = "gpio";

		drive-strength = <2>;
		bias-disable;
	};
	gpio_keys_default: gpio-keys-default-state {
		pins = "gpio107";
		function = "gpio";

		drive-strength = <2>;
		bias-pull-up;
	};
	gpio_leds_default: gpio-leds-default-state {
		pins = "gpio8", "gpio9", "gpio10";
		function = "gpio";

		drive-strength = <2>;
		bias-disable;
	};
	mdss_active: mdss-active-state {
		pins = "gpio25";
		function = "gpio";

		drive-strength = <8>;
		bias-disable;
	};

	mdss_suspend: mdss-suspend-state {
		pins = "gpio25";
		function = "gpio";

		drive-strength = <2>;
		bias-pull-down;
	};
	prox_irq_default: prox-irq-default-state {
		pins = "gpio113";
		function = "gpio";

		drive-strength = <2>;
		bias-disable;
	};
	sdc2_cd_default: sdc2-cd-default-state {
		pins = "gpio38";
		function = "gpio";

		drive-strength = <2>;
		bias-disable;
	};
	touchscreen_default: touchscreen-default-state {
		pins = "gpio12", "gpio13";
		function = "gpio";
		drive-strength = <6>;
		bias-disable;
	};
	usb_id_default: usb-id-default-state {
		pins = "gpio110";
		function = "gpio";

		drive-strength = <8>;
		bias-pull-up;
	};

};


